# Dataset tracking
data/processed/

# Ultralytics & Model Outputs
__pycache__/

# Ignore massive weight files (but allow our code files)
!yolo26s.pt

# Python caches
.ipynb_checkpoints/

# Kiro IDE
.kiro/
